.exchange__form {
  padding: {
    right: rem(84);
    left: rem(803);
  }
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: rem(45);
}

.exchange__title {
  font: {
    family: $roboto;
    size: rem(49);
    weight: 500;
  }
  color: $purple;
  margin-bottom: rem(75);
  padding-right: rem(204);
}

.exchange__subtitle {
  font-size: rem(17);
  color: $purple;
  margin-bottom: rem(68);
  align-self: flex-start;
}
