.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: rem(40);
  &_padding-top {
    padding-top: rem(38);
    padding-bottom: 0;
  }
}

.nav__item {
  &:not(:last-child) {
    margin-right: rem(54);
  }
  &_relative {
    position: relative;
  }
}

.nav__link {
  display: block;
  color: $gray;
  font-size: rem(20);
  font-family: $main-font;
  transition: color 250ms;
  &:hover, &:focus {
    color: darken($gray, 20%);
  }
  &_active {
    font-weight: 700;
  }
}
