.user-docs {
  border: 1px solid #707070;
  padding: rem(17 72 27 41);
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: rem(18);
  }
  @media (max-width: 600px) {
    padding: {
      left: rem(15);
      right: rem(15);
    }
  }
  @media (max-width: 540px) {
    
  }
}

.user-docs__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &:first-child {
    max-width: 43%;
    @media (max-width: 990px) {
      max-width: 60%;
    }
  }
  &:last-child {
    max-width: 31.2%;
  }
}

.user-docs__user {
  font: {
    size: rem(15);
  }
  color: #0f0a30;
  margin: {
    top: rem(7);
    right: rem(10);
  }
  @media (max-width: 540px) {
  }
}

.user-docs__col {
  font-size: rem(13);
  color: #767791;
  &:not(:last-child) {
    margin-right: rem(10);
  }
  &_documents {
    &:not(:last-child) {
      margin-right: rem(44);
      @media (max-width: 600px) {
        margin-right: rem(10);
      }
    }
  }
}

.user-docs__row {
  &:not(:last-child) {
    margin-bottom: rem(13);
  }
}

.user-docs__button {
  border-radius: rem(15);
  background-color: $violet;
  color: #fff;
  font-size: rem(12);
  padding: rem(2 43);
  transition: background-color 250ms;
  &:hover, &:focus {
    background-color: darken($violet, 7%);
  }
}

.user-docs__status {
  font-size: rem(13);
  &_confirm {
    color: $violet;
  }
  &_confirmed {
    color: $confirmed-green;
  }
}
